# Optimizing Real Estate Pricing Strategy for Maximized Profits

# Overview

Premiere Property Group, a leading real estate agency in King County, has faced a decline in profits over the past three years. In response, the agency has engaged analysts to provide recommendations on a strategic pricing approach that will optimize profits. This project delves into the extensive housing data available for King County, examining critical factors influencing house prices. The primary focus is on key variables including the age of the house, location-based condition/rating, views, waterfront accessibility, and the impact of seasonal sales. The overarching goal is to develop a robust pricing strategy that effectively maximizes profits for Premiere Property Group in the dynamic King County real estate market.

## Research Questions
1. Does the age of a house (year built) have an impact on its selling price? Are there any patterns or trends that can guide pricing decisions?
2. Is there a correlation between the condition/rating of a house, especially concerning its location, and the resulting sales price?
3. Is there a seasonal effect on the sales price of homes? For example, do homes sold during the winter season command higher prices compared to other months, and how can this knowledge be leveraged for strategic pricing?
4. What extent do the views and waterfront accessibility influence the property pricing? Does these feature impact the overall value of the property?

## Objectives

1. Determine and evaluate the relationship between the age of a house and its sales price to inform pricing decisions for different property types.
2. Analyze the impact of location-based condition/rating on house prices, identifying optimal conditions for maximizing property values.
3. Find out the seasonal Changes in property prices and come up with strategies to optimize pricing based on the time of sale.
4. Investigate the influence of views and waterfront accessibility on property prices, providing insights into premium features.

The findings from this project will enable Premiere Property Group to make data-driven decisions in setting competitive and profitable prices for property and ultimately enhancing their ability to maximize profits

## Data

Utilizing the King County Housing Data Set, which encompasses details such as house size, location, condition, and various features, this project endeavors to construct an advanced multiple regression model. The primary objective is to develop a predictive model that can accurately estimate a house's price by incorporating the key factors. The emphasis is on optimizing the model's precision to enable effective predictions in the dynamic real estate landscape of King County.

### Column Names and descriptions for King County Data Set
* **id** - unique identified for a house
* **date** - Date house was sold
* **price** - Price is prediction target
* **bedrooms** - Number of Bedrooms/House
* **bathrooms** - Number of bathrooms/bedrooms
* **sqft_living** - square footage of the home
* **sqft_lot** - square footage of the lot
* **floors** - Total floors (levels) in house
* **waterfront** - House which has a view to a waterfront
* **view** - Has been viewed
* **condition** - How good the condition is ( Overall )
* **grade** - overall grade given to the housing unit, based on King County grading system
* **sqft_above** - square footage of house apart from basement
* **sqft_basement** - square footage of the basement
* **yr_built** - Built Year
* **yr_renovated** - Year when house was renovated
* **zipcode** - zip
* **lat** - Latitude coordinate
* **long** - Longitude coordinate
* **sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors
* **sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

## Previewing the Data

In [ ]:
#load necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import markdown
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn import datasets, linear_model
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

## Feature Engineering

In [ ]:
df.hist(figsize=(20,20));

In [ ]:
for column in df.columns:
    proportion_of_nas = (sum(df[column].isnull())/len(df[column])) * 100
    print(column, proportion_of_nas)

In [ ]:
df.isna().sum()

In [ ]:
#1. Check for counts of unique values in waterfront
df['waterfront'].value_counts()

In [ ]:
#2. Fill in the missing values with No and convert to binary

df['waterfront'] = df['waterfront'].fillna('NO')
df['waterfront'] = df['waterfront'].map({'YES': 1, 'NO': 0})

#3. Check if code was responsive

df['waterfront'].value_counts()

In [ ]:
#4. Check for counts of unique values in view
df['view'].value_counts()

In [ ]:
#5. Fill the missing values with None and check if code was responsive

df['view'].fillna("NONE", inplace=True)

df['view'].value_counts()

In [ ]:
df['yr_renovated'].value_counts()

In [ ]:
df['yr_renovated'].fillna(0, inplace=True)

In [ ]:
df['id'].value_counts()

In [ ]:
#3. convert condition and grade into representative numbers
df['view'] = df['view'].map({'NONE': 1,'FAIR': 2,'AVERAGE': 3,'GOOD': 4,'EXCELLENT': 5}).astype(float)
df['condition'] = df['condition'].map({'Poor': 1,'Fair': 2,'Average': 3,'Good': 4,'Very Good': 5}).astype(float)
df['grade'] = df['grade'].map({'3 Poor': 1,'4 Low': 2,'5 Fair': 3,'6 Low Average': 4,'7 Average': 5,'8 Good': 6,'9 Better': 7,'10 Very Good': 8,'11 Excellent': 9,'12 Luxury': 10,'13 Mansion': 11}).astype(float)
df['sqft_basement'] = df['sqft_basement'].replace('?', 0).astype(float)

In [ ]:
df.head()

In [ ]:
# create a new column 'Sale_Number' based on the count of values in 'id' column
Sales_in_df = df['id'].value_counts()
df['Sale_Number'] = df['id'].map(Sales_in_df)

In [ ]:
df.shape

In [ ]:
df.isna().sum()

In [ ]:
df.head()

In [ ]:
df.duplicated().value_counts()

In [ ]:
#Create a column for percentage space used

df['Space_use'] = df['sqft_living'] / df['sqft_lot']

df['Space_use'] = df['Space_use'].round(2)

In [ ]:
#Fix date column to datetime
df['date'] = pd.to_datetime(df['date'])

#Create a Season column and populate it as Spring, Summer, Fall, Winter
def get_season(month):
    if 3 <= month <= 5:
        return 'Spring'
    elif 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Fall'
    else:
        return 'Winter'
df['season'] = df['date'].dt.month.apply(get_season)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
# Create individual boxplots for selected columns
columns_to_plot = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'zipcode', 'sqft_living15', 'sqft_lot15', 'Space_use']

# Set the number of boxplots per row
boxplots_per_row = 3

# Calculate the number of rows needed
num_rows = -(-len(columns_to_plot) // boxplots_per_row)  # Ceiling division

# Create a subplot grid
fig, axes = plt.subplots(nrows=num_rows, ncols=boxplots_per_row, figsize=(15, 25))

# Flatten the axes array for easier iteration
axes = axes.flatten()

# Plot each boxplot
for i, column in enumerate(columns_to_plot):
    ax = axes[i]
    df[column].plot(kind='box', ax=ax)
    ax.set_title(column)

# Hide any remaining empty subplots
for i in range(len(columns_to_plot), len(axes)):
    fig.delaxes(axes[i])

# Adjust layout and show the plot
plt.tight_layout()
plt.show()

In [ ]:
# Removing outliers observed in the box plots above
df = df.drop(df[df["bedrooms"] >= 10].index)
df = df.drop(df[df["sqft_living"] > 10000].index)
df = df.drop(df[df["price"] >= 1100000].index)

In [ ]:
df[df['bathrooms']==0.5]

In [ ]:
# Count the number of sales for each house and merge with the original DataFrame
sale_counts = df.groupby('id').size().reset_index(name='NumSales')
df = pd.merge(df, sale_counts, on='id', how='left')

# Identify houses sold more than once
houses_sold_more_than_once = df[df['NumSales'] > 1].drop_duplicates('id')

# Generate Markdown report
markdown_report = f"# King County House Sales Report\n\n"
markdown_report += "## Houses Sold More Than Once\n\n"

for house_id, num_sales, total_earnings in houses_sold_more_than_once[['id', 'NumSales', 'price']].to_records(index=False):
    markdown_report += f"House Number {house_id} was sold {num_sales} times in the period under consideration, priced at {total_earnings}.\n"

# Export the Markdown report
with open('king_county_house_sales_report.md', 'w') as file:
    file.write(markdown_report)

# King County House Sales Report

## Houses Sold More Than Once

Find the full report under 'king_county_house_sales_report.md'

House Number 6021501535 was sold 2 times in the period under consideration, priced at 430000.0.\
House Number 4139480200 was sold 2 times in the period under consideration, priced at 1380000.0.\
House Number 7520000520 was sold 2 times in the period under consideration, priced at 232000.0.\
House Number 3969300030 was sold 2 times in the period under consideration, priced at 165000.0.\
House Number 2231500030 was sold 2 times in the period under consideration, priced at 315000.0.

In [ ]:
#Rename the 'id' column to 'house_number' and create a new index column named 'id'
df = df.rename(columns={'id': 'house_number'}).reset_index(drop=True)

In [ ]:
#Getting a report of number of renovations per year.


# Group by 'yr_renovated' and count the number of unique houses renovated more than once
renovation_counts = df[df['yr_renovated'] > 0].groupby('yr_renovated')['house_number'].nunique().reset_index(name='NumRenovations')

# Sort the renovation report from most renovations to least
renovation_counts = renovation_counts.sort_values(by='NumRenovations', ascending=False)

# Calculate the total number of renovations and the proportion to the number of unique house numbers
total_renovations = renovation_counts['NumRenovations'].sum()
num_unique_houses = df['house_number'].nunique()
proportion_to_unique_houses = total_renovations / num_unique_houses


# Print the total number of renovations and the proportion to the number of unique house numbers
print(f"\nTotal number of renovations: {total_renovations}")
print(f"Proportion to the number of unique house numbers: {proportion_to_unique_houses:.2%}")

# Print messages for the first 3 and last 3 years of renovations
for index, row in renovation_counts.head(3).iterrows():
    message = f"In {row['yr_renovated']}, there were {row['NumRenovations']} renovations."
    print(message)

# Print messages for the last 3 years of renovations
for index, row in renovation_counts.tail(3).iterrows():
    message = f"In {row['yr_renovated']}, there were {row['NumRenovations']} renovations."
    print(message)

# Generate Markdown report
markdown_report = f"# Renovation Report\n\n"
markdown_report += "## Houses Renovated More Than Once\n\n"
markdown_report += renovation_counts.to_markdown(index=False)

# Save the Markdown report to a file
with open('renovation_report.md', 'w') as file:
    file.write(markdown_report)

In [ ]:
df.describe()

In [ ]:
#Export the dataframe

# Specify the path where you want to save the CSV file
csv_file_path = 'export.csv'

# Export the entire DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)

print(f'DataFrame exported to {csv_file_path}')

In [ ]:
# Rename the original DataFrame to Original_df
Original_df = df.copy()

# Count the number of sales for each house
sale_counts = df.groupby('house_number').size().reset_index(name='NumSales')

# Add a new column indicating the number of sales for each house
df['NumSales'] = df.groupby('house_number')['house_number'].transform('count')

# Identify houses sold more than once
houses_sold_more_than_once = df[df['NumSales'] > 1]

# Keep the most recent sale for houses sold more than once
houses_sold_more_than_once = houses_sold_more_than_once.sort_values(by=['house_number', 'date'], ascending=[True, False])
houses_sold_more_than_once.drop_duplicates('house_number', keep='first', inplace=True)


# Drop houses sold more than once, keeping the most recent sale
df = pd.concat([df, houses_sold_more_than_once]).drop_duplicates(subset='house_number', keep='last')

# Drop the 'NumSales' column as it is no longer needed
df.drop(columns='NumSales', inplace=True)

# Drop the 'yr_renovated' column
df.drop(columns='yr_renovated', inplace=True)

In [ ]:
df.head()

In [ ]:
#Export the dataframe

# Specify the path where you want to save the CSV file
csv_file_path = 'new_export.csv'

# Export the entire DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)

print(f'DataFrame exported to {csv_file_path}')

# Collinearity

In [ ]:
df.corr(numeric_only=True)

Investigating potential multicollinearity

In [ ]:
correlation_matrix = df.corr(numeric_only=True).abs()
stacked_correlations = correlation_matrix.stack().reset_index().sort_values(0, ascending=False)
stacked_correlations['column_pairs'] = list(zip(stacked_correlations['level_0'], stacked_correlations['level_1']))
pairs_indexed = stacked_correlations.set_index(['column_pairs'])
pairs_indexed.drop(columns=['level_0', 'level_1'], inplace=True)
pairs_indexed.columns = ['correlation_coefficient']
unique_pairs = pairs_indexed.drop_duplicates()
high_correlation_pairs = unique_pairs[
    (unique_pairs['correlation_coefficient'] > 0.7) & (unique_pairs['correlation_coefficient'] < 1)
]

# Display the result
print(high_correlation_pairs)


In this analysis, we observe significant correlations among various pairs of variables. To address potential multicollinearity issues in our model, we will consider the removal of variables that exhibit high correlation with each other.

In [ ]:
mask = np.triu(np.ones_like(correlation_matrix, dtype=bool))

plt.figure(figsize=(20, 10))
ax = sns.heatmap(correlation_matrix, annot=True, mask=mask)
plt.show()